<div class="col-1 offset-12">
    <div class="container mb-3" id="timer" >
        <div class="card">
            <div class="card-body">
            <h6 class="card-title">Pozostało <span id="time"></span></h6>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="" style="width: 0%"></div>
            </div>
        </div>
        </div> 
    </div>
</div>


<style>
    #timer{
        opacity: 0.7;
        width: 10rem!important;
    }
</style>