#next{
    border-radius: 80%;
    background-color: white;
    border-color: white;
}
.right {
    box-sizing: border-box;
    height: 1rem;
    width: 1rem;
    border-style: solid;
    border-color: rgb(19, 19, 19);
    border-width: 0px 1px 1px 0px;
    transform: rotate(-45deg);
    transition: border-width 150ms ease-in-out;
}
.left {
    box-sizing: border-box;
    height: 1rem;
    width: 1rem;
    border-style: solid;
    border-color: rgb(19, 19, 19);
    border-width: 0px 1px 1px 0px;
    transform: rotate(135deg);
    transition: border-width 150ms ease-in-out;
}
.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}