<div class="margin ms-3">
    <h4><b>Wprowadzenie:</b></h4>
        <section>
            Dział matematyki, pomagający odpowiedzidź na pytanie: "Na ile sposobów możemy wybrać pary w klasie 28 osobowej?".
        <hr>
  
        
       
</div>