
<div class="margin ms-3">
    <h4><b>Wprowadzenie:</b></h4>
        <section>
            Dzia matematyki, kt贸rego przedmiotem bada s zwizki miarowe midzy bokami i ktami tr贸jkt贸w oraz funkcje trygonometryczne. Trygonometria powstaa i rozwina si g贸wnie w zwizku z zagadnieniami pomiar贸w na powierzchni Ziemi oraz potrzebami 偶eglugi morskiej.
        </section>
        <hr>
        <div>
            Istniej 4 podstawowe funkcje trygonometryczne:
        <ul>
            <li>sinus</li>
            <li>cosinus</li>
            <li>tangens</li>
            <li>cotangens</li>
        </ul>
        Powy偶sze funkcje okrelaj zwizki miarowe w tr贸jkcie prostoktnym.  
        </div>
        
       
</div>
<div style="text-align: center;">
    <a href="/branches/<%= branch._id %>/section/trojkatZaleznosci">
        <button id="start" class="btn btn-lg mt-3 ms-3" action=""> Rozpocznij nauk</button>
    </a>
    <a href="/branches/<%= branch._id %>/section/index">
        <button id="contents" class="btn btn-lg mt-3 ms-3" action=""> Spis treci</button>
    </a>
</div>


<style>
    #start{
        background-color: #9cedfb !important;   
    }
    #contents{
        background-color: #3a5b61 !important;   
        color: white;
    }
   
</style>
